.collections-container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;

    padding-bottom: 10%;
}

.collections-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 50px;
    grid-row-gap: 40px;

    /* border: 3px solid green; */
    background-color: #f5f5f5;
    padding-top: 40px;
}
.collections-title{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gold;
    
}
.collections-title h1{
    color: #0051ba;

}


/*  */
.mat-prds{
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-wrap: wrap;
    /* flex-basis: 100%; */
    width: 100%;
    flex-direction: column;

    border: 5px dotted tan;
    background-color: white;

    padding-top: 30px;
    padding-bottom: 30px;
}